<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Test">
  
  <!--	<groups><run><include name="Smoke"></include></run></groups>	-->
  	
  	<groups><run><exclude name="Smoke"></exclude></run></groups>
  
    <classes>
      <class name="test.ActitimeCreateCustomer"/>
      <class name="test.ActiTimeLogin"/>
      <class name="test.ActitimeCreateWork"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
